<body>
  <div class="container">
    <div class="tab-content">
      <!-- Home que some quando seleciona o tópico -->
      <div id="home" class="tab-pane fade in active show">
        <app-progresso></app-progresso>
      </div>
      <!-- Template Questão -->
      <div id="M1T1" class="tab-pane fade">
        <!-- Título -->
        <h3>Matemática Básica</h3>
        <div class="form-group">
          <!-- Número da questão -->
          <h4> Questão [1] </h4>
          <!-- enunciado -->
          <p class="enunciado"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem
            aperiam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam.</p>
          <!-- textoApoi -->
          <p class="textoApoio"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque
            laudantium, totam rem
            aperiam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam.</p>
          <!-- Alternativas-->
          <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div class="alternativas">
              <!-- Alternativa - A-->
              <input class="radio-btn" name="radio-collection" id="radio-1" type="radio">
              <label class="radio-label" for="radio-1"> <span>Alternativa A <br> Sed ut perspiciatis unde omnis iste
                  natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span></label>
              <!-- Alternativa - B-->
              <input class="radio-btn" name="radio-collection" id="radio-2" type="radio">
              <label class="radio-label" for="radio-2"> <span>Alternativa B <br> Sed ut perspiciatis unde omnis iste
                  natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span></label>
              <!-- Alternativa - C-->
              <input class="radio-btn" name="radio-collection" id="radio-3" type="radio">
              <label class="radio-label" for="radio-3"> <span>Alternativa C <br> Sed ut perspiciatis unde omnis iste
                  natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span></label>
              <!-- Alternativa - D-->
              <input class="radio-btn" name="radio-collection" id="radio-4" type="radio">
              <label class="radio-label" for="radio-4"> <span>Alternativa D <br> Sed ut perspiciatis unde omnis iste
                  natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span></label>
              <!-- Alternativa - E-->
              <input class="radio-btn" name="radio-collection" id="radio-5" type="radio">
              <label class="radio-label" for="radio-5"> <span>Alternativa E <br> Sed ut perspiciatis unde omnis iste
                  natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</span></label>
            </div>
          </div>
          <!-- Botão para responder-->
          <div class="d-flex justify-content-center"><button type="submitQuestao"
              class="btn btn-primary btn-grad">Responder</button>
          </div>
        </div>
      </div>
