<div class="col-sm-12 col-md-12 col-lg-8" >
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          lalala
        </div>
        <div class="tab-pane " id="v-pills-geometriaPlana" role="tabpanel" aria-labelledby="v-pills-geometriaPlana-tab">UHU
        </div>
        <div class="tab-pane " id="v-pills-geometriaEspacial" role="tabpanel" aria-labelledby="v-pills-geometriaEspacial-tab">YEY
        </div>
        <div class="tab-pane " id="v-pills-trigonometria" role="tabpanel" aria-labelledby="v-pills-trigonometria-tab">...
        </div>
      </div>
    </div>
  </div>
  