<body>
  <div class="container">
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active show">
        <app-progresso></app-progresso>
      </div>
      <!--  Matemática 1 - Tópico 1 - Matemática Básica -->
      <div id="M1T1" class="tab-pane fade">
        <h3>Matemática Básica</h3>
        <div class="form-group">
          <h4> Questão [1] </h4>
          <p class="enunciado"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem
            aperiam.</p>
          <p class="textoApoio"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque
            laudantium, totam rem
            aperiam.</p>
          <!-- Check para lembrar o user-->
          <div class="d-flex ">
            <span class="checkbox-el">
              <input class="input-checkbox" type="checkbox" name="alternativa1" value="1">
              <div class="checkbox-circle"></div>
            </span>
            <label class="form-check-label " for="alternativa1"> Alternativa 1</label>

            <span class="checkbox-el">
              <input class="input-checkbox" type="checkbox" name="alternativa1" value="1">
              <div class="checkbox-circle"></div>
            </span>
            <label class="form-check-label " for="alternativa1"> Alternativa 1</label>
          </div>
        </div>
      </div>
      <!--  Matemática 1 - Tópico 2 - Equação de 1° Grau e 2° Grau-->
      <div id="M1T2" class=" tab-pane fade">
        <h3>Equação de 1° Grau e 2° Grau</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.</p>
      </div>
      <!--  Matemática 1 - Tópico 3 - Porcentagem e Juros-->
      <div id="M1T3" class="tab-pane fade">
        <h3>Porcentagem e Juros</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 4 - Matemática - PA-->
      <div id="M1T4" class="tab-pane fade">
        <h3>Matemática - PA</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 5 - Matemática - PG-->
      <div id="M1T5" class="tab-pane fade">
        <h3>Matemática - PG</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 6 - Inequação de 1° e 2° Grau -->
      <div id="M1T6" class="tab-pane fade">
        <h3>Inequação de 1° e 2° Grau</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 7 - Conjuntos Numéricos-->
      <div id="M1T7" class="tab-pane fade">
        <h3>Conjuntos Numéricos</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 8 - Análise Combinatória-->
      <div id="M1T8" class="tab-pane fade">
        <h3>Análise Combinatória</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
      </div>
      <!--  Matemática 1 - Tópico 9 - Probabilidade e Estatística -->
      <div id="M1T9" class="tab-pane fade">
        <h3>Probabilidade e Estatística</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 10 - Análise de Gráficos e Tabelas-->
      <div id="M1T10" class="tab-pane fade">
        <h3>Análise de Gráficos e Tabelas</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 11 - Matrizes e Sistemas Lineares-->
      <div id="M1T11" class="tab-pane fade">
        <h3>Matrizes e Sistemas Lineares</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.</p>
      </div>
      <!--  Matemática 1 - Tópico 12 - Logaritimo-->
      <div id="M1T12" class="tab-pane fade">
        <h3>Logaritimo</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.</p>
      </div>
      <!--  Matemática 2 - Tópico 1 - Geometria Plana-->
      <div id="M2T1" class="tab-pane fade">
        <h3>Geometria Plana</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.</p>
      </div>
      <!--  Matemática 2 - Tópico 2 - Geometria Espacial-->
      <div id="M2T2" class="tab-pane fade">
        <h3>Geometria Espacial</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.</p>
      </div>
      <!--  Matemática 2 - Tópico 3 - Trignometria-->
      <div id="M2T3" class="tab-pane fade">
        <h3>Trignometria</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.</p>
      </div>
      <!--  História - Tópico 1 - História Geral -->
      <div id="HT1" class=" tab-pane fade">
        <h3>História Geral</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.</p>
      </div>
      <!--  História - Tópico 2 - História do Brasil -->
      <div id="HT2" class="tab-pane fade">
        <h3>História do Brasil</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.</p>
      </div>
    </div>
  </div>
</body>
