/*  ROW principal centralizada */
.row {
  margin-left: 1%;
  margin-right: 1%;
}

/** Pegando  a imagem de fundo */
#grad {
  background-image: url('src\assets\img\img2.jpg');
}

/** Colocando a font e posicionando */
body {
  font-family: 'NexaLight';
  width: 100%;
  height: 100%;
  position: relative;
}



/** Textos */
h1 {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 30px;
  color: #330867;
  font-family: 'MontserratBold';
  font-size: 50px;
}

h4 {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 30px;
  color: #330867;
  font-family: 'MontserratBold';
  font-size: 32px;
}

h5 {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 30px;
  color: rgba(39, 48, 58, 0.897);
  font-family: 'MontserratBold';
  font-size: 20px;
}

/** texto em gradiente*/
#text {
  background: linear-gradient(to right, #330867 30%, #30CFD0 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'MontserratBold';
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 3px;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to right, #30CFD0, #330867);
}

/* transição dos textos principais */
.transition,
ul li i:before,
ul li i:after,
p {
  transition: all 0.25s ease-in-out;
}

.flipIn,
ul li,
h3 {
  animation: flipdown 0.5s ease both;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* painel principal dentro */
.BOX {
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
  font-family: "NexaLight";
  color: rgba(39, 48, 58, 0.897);
}

/* painel principal fora */
.elemento {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 10px 10px 40px -30px #282269;
  border-radius: 10px;
  background-color: #fcfcfcf8;
  padding: 30px;
  max-width: 900px;
}

@media (max-width: 550px) {
  .elemento {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;

  }
}

/* Textos */
h2 {
  color: #282269;
  font-family: 'NexaBold';
  border-bottom: #30CFD0 2px solid;
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
  font-family: 'NexaBold';
}

h2 {
  font-size: 25px;
  line-height: 34px;
  font-weight: 300;
  display: block;
  background-color: #fcfcfcf5;
  margin: 0;
  cursor: pointer;
}

/* Textos internos */
p {
  color: rgba(48, 69, 92, 0.8);
  font-size: 18px;
  line-height: 26px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 20px;
  border-top: 1px dotted #fcfcfcf5;
}

ul li:nth-of-type(1) {
  animation-delay: 0.02s;
}

ul li:nth-of-type(2) {
  animation-delay: 0.04s;
}

ul li:nth-of-type(3) {
  animation-delay: 0.06s;
}

ul li:nth-of-type(4) {
  animation-delay: 0.08s;
}

ul li:nth-of-type(5) {
  animation-delay: 0.10s;
}

ul li:nth-of-type(6) {
  animation-delay: 0.12s;
}

ul li:nth-of-type(7) {
  animation-delay: 0.14s;
}

ul li:last-of-type {
  padding-bottom: 0;
}

ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

/** Icon da setinha */
ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #30CFD0;
  width: 6px;
  height: 12px;
}

/** Icon da setinha */
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

/** Icon da setinha */
ul

/** Icon da setinha */
li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

/** Transformação */
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

ul li input[type=checkbox]:checked~p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li input[type=checkbox]:checked~i:before {
  transform: translate(2px, 0) rotate(45deg);
}

ul li input[type=checkbox]:checked~i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
