<body ID="grad">
  <!-- Row central -->
  <app-navbar></app-navbar>
  <h1> <span id="text" class="border-gradient border-gradient-purple"> Apostilas</span> </h1>
  <div class="row" style="margin-top: 40px;">
    <!-- Row principal -->
    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-cronograma></app-cronograma>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-center-text></app-center-text>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 BOX">
      <ul class="elemento">
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Hexag</h2>
          <p> O Hexag é um curso pré-vestibular especializado no concorrido vestibular de medicina, que disponibiliza
            para os estudantes que não tem condição de acesso ao curso, o material didático do ano anterior em PDF.
            <br><br>
            O conteúdo do Hexag é bem sucinto e completo, porém, a carga de estudo pode ser muito extensa se você
            não montar um bom plano de estudos ou tiver uma boa noção dos tópicos do ENEM.
            <br><br>
            O Hexag possui todos os direitos autorais, os links de download são direcionados diretamente para o
            Drive do mesmo onde você consegue adquirir os arquivos. <br><br>
            <b id="text">Volumes disponíveis:</b><br><br>
            <a href="https://drive.google.com/drive/folders/1rV4pnkVsgUhCnIta-dmQ1Ajrz_vm2ATC" target="_blank"> <button
                class="btn-grad"> Volume 1 </button> </a>
            <a href="https://drive.google.com/drive/folders/1YJtDefQp-CME6RLgPKiTKRs98oU7-PVG" target="_blank"><button
                class="btn-grad"> Volume 2</button> </a>
            <a href="https://drive.google.com/drive/folders/1UNHqzwCGJ4E7FCGYSjarm0LfYqhJn08Q" target="_blank"> <button
                class="btn-grad"> Volume 3 </button> </a>
            <a href="https://drive.google.com/drive/folders/1f2puQeILtg3X5bA8xy6aQbkDLQrGKwis" target="_blank"><button
                class="btn-grad"> Volume 4 </button> </a>
            <a href="https://drive.google.com/drive/folders/18nKdkt8DULoJ5-wCeeOFJv3qKIVnfGhH" target="_blank"><button
                class="btn-grad"> Volume 5 </button> </a>
            <a href="https://drive.google.com/drive/folders/1alw-CukI5FzIC1-qDw8EadE_-jQEa7hZ" target="_blank"> <button
                class="btn-grad"> Volume 6 </button> </a>
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Hexag: Revisão Enem</h2>
          <p>Disponibilizada pelo Hexag Medicina tem como objetivo verificar se você aprendeu os conteúdos estudados.
            <br><br>
            O material apresenta indicação de temas e competências da matriz de referência do ENEM. Em cada questão,
            há explicação das habilidades aplicadas.<br><br>
            Existe uma seleção de questões inéditas, adaptadas e PPL, ideais para exercitar a sua memória. Os assuntos
            escolhidos tiveram grande incidência nos últimos anos do Enem. <br><br>
            Clique no link abaixo para ser direcionado ao Driver do Hexag.<br><br>
            <b id="text">Revisões disponíveis:</b><br><br>
            <a href="https://drive.google.com/drive/folders/14jqe30m2T8VUhQ-X6G_ywxyvWne7iuGP" target="_blank"> <button
                class="btn-grad">Revisão Enem </button> </a>

          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Unesp </h2>
          <p> O cursinho pré-vestibular da Unesp é organizado e desenvolvido pela universidade desde 1987. Mantém
            disponível para download em sua página, em pdf, sete cadernos feitos para estudantes em fase de
            preparação para vestibulares. <br><br>
            Os cadernos pré-vestibulares foram organizados por professores da Universidade e têm como norte principal
            os temas da Matriz de Referência do Enem (Exame Nacional do Ensino Médio).<br><br>
            <b id="text">Volumes disponíveis:</b><br><br>
            <a href="https://www2.unesp.br/Home/servico_ses/caderno_linguagens_e_seus_codigos.pdf" target="_blank">
              <button class="btn-grad">Volume 1</button> </a>
            <a href="https://www2.unesp.br/Home/servico_ses/caderno_matematica.pdf" target="_blank"><button
                class="btn-grad">Volume 2</button> </a>
            <a href="https://www2.unesp.br/Home/servico_ses/caderno_biologia.pdf" target="_blank"> <button
                class="btn-grad">Volume 3</button> </a>
            <a href="https://www2.unesp.br/Home/servico_ses/caderno_fisica.pdf" target="_blank"><button
                class="btn-grad"> Volume 4</button> </a>
            <a href="https://www2.unesp.br/Home/servico_ses/caderno_quimica.pdf" target="_blank"><button
                class="btn-grad">Volume 5 </button> </a>
            <a href="https://www2.unesp.br/Home/servico_ses/caderno_ciencias_-humanas.pdf" target="_blank"> <button
                class="btn-grad">Volume 6</button> </a>
            <a href="https://www2.unesp.br/Home/servico_ses/caderno-7---exercicios-1.pdf" target="_blank"> <button
                class="btn-grad">Volume 7</button> </a>
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>MeSalva!</h2>
          <p> O MeSalva! ofereceu mais de 25 apostilas em pdf com todo o conteúdo cobrado pelo Enem. O curso foi um dos
            pioneiros em vídeo aulas no Brasil, e ao longo de 10 anos se especializaram em vestibulares.<br><br>
            A linguagem é de fácil acesso e os mesmos abrangem o conteúdo de forma estimulante e atenciosamente,
            entendendo seu público-alvo.<br><br>
            O site apenas pede um breve cadastro para liberar o download, abaixo seguem os links de cada volume.<br><br>
            <b id="text">Volumes disponíveis:</b><br><br>
            <a href="https://materiais.mesalva.com/apostila-matematica-enem-vol1" target="_blank"> <button
                class="btn-grad">Volume 1 </button> </a>
            <a href="https://materiais.mesalva.com/apostila-matematica-enem-vol2" target="_blank"><button
                class="btn-grad"> Volume 2 </button> </a>
            <a href="https://materiais.mesalva.com/apostila-matematica-enem-vol3" target="_blank"> <button
                class="btn-grad"> Volume 3 </button> </a>
            <a href="https://materiais.mesalva.com/apostila-biologia-enem-vol1" target="_blank"> <button
                class="btn-grad"> Volume 4</button> </a>
            <a href="https://materiais.mesalva.com/apostila-biologia-enem-vol2" target="_blank"> <button
                class="btn-grad"> Volume 5</button> </a>
            <a href="https://materiais.mesalva.com/apostila-biologia-enem-vol3" target="_blank"> <button
                class="btn-grad"> Volume 6</button> </a>
            <a href="https://materiais.mesalva.com/apostila-quimica-enem-vol2" target="_blank"> <button
                class="btn-grad"> Volume 7</button> </a>
            <a href="https://materiais.mesalva.com/apostila-quimica-enem-vol3" target="_blank"> <button
                class="btn-grad"> Volume 8 </button> </a>
            <a href="https://materiais.mesalva.com/apostila-fisica-enem-vol1" target="_blank"><button class="btn-grad">
                Volume 9</button> </a>
            <a href="https://materiais.mesalva.com/apostila-filosofia-enem" target="_blank"><button class="btn-grad">
                Filosofia</button> </a>
            <a href="https://materiais.mesalva.com/apostila-sociologia-enem" target="_blank"><button class="btn-grad">
                Sociologia</button> </a>
            <a href="https://materiais.mesalva.com/apostila-redacao-enem" target="_blank"><button class="btn-grad">
                Redação </button> </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;">
    <!-- Row secundária -->
    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-metodos-estudo></app-metodos-estudo>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-center-text2></app-center-text2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 BOX">
      <ul class="elemento">
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Simulados</h2>
          <p> Fazer simulado ao decorrer dos seus estudos é a melhor forma de entender seus pontos fracos e fortes,
            possibilitando que você tenha um estudo mais direcionado e eficiente.<br><br>É uma forma de você se
            preparar emocionalmente para a prova. Estudos mostram que ao vivenciar várias vezes uma situação e,
            consequentemente, conquistar maior familiaridade com o que vai
            enfrentar, você tem maiores chances de ficar menor ansioso, diminuindo também o nervosismo. Assim, você terá
            um melhor desempenho.<br><br>
            Imprima o simulado abaixo, e pratique como será o dia da prova!<br><br>
            Cronometre o tempo, a comida de levará e o seu gerenciamento para resolver as questões.<br><br>
            <b id="text">Simulados com resolução:</b><br><br>
            <a href="https://drive.google.com/drive/folders/1s9fZQf8PqRgqwIjKHOu79H0VlNfLoi1q" target="_blank"><button
                class="btn-grad">1º dia</button> </a>
            <a href="https://drive.google.com/drive/folders/1-itIr0FndBLBAKOVYGh1KEt7UhNL35Gd" target="_blank"><button
                class="btn-grad">2º dia </button> </a>

          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Provas Anteriores</h2>
          <p> Fazer as provas do Enem ajudam você a se familiarizar com o estilo de prova. <br><br>As questões do Enem
            tem um
            formato bem específico, buscando mais do que verificar os conteúdos ministrados na escola, verificar
            suas habilidades e competências.<br><br> Ao resolver questões históricas do exame você compreende exatamente
            como
            você será avaliado.<br><br>
            <b id="text">Enem 2020</b><br><br>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_PV_impresso_D1_CD1.pdf"
              target="_blank"><button class="btn-grad">1º dia </button> </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_GB_impresso_D1_CD1.pdf" target="_blank">
              <button class="btn-grad"> Gabarito </button> </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_PV_impresso_D2_CD5.pdf"
              target="_blank"><button class="btn-grad">2º dia </button> </a>
            <a href="https://download.inep.gov.br/enem/provas_e_gabaritos/2020_GB_impresso_D2_CD5.pdf"
              target="_blank"><button class="btn-grad"> Gabarito </button> </a><br><br>
            <b id="text">Enem 2019</b><br><br>
            <a href="http://download.inep.gov.br/educacao_basica/enem/provas/2019/caderno_de_questoes_1_dia_caderno_1_azul_aplicacao_regular.pdf"
              target="_blank"><button class="btn-grad"> 1º dia</button> </a>
            <a href="http://download.inep.gov.br/educacao_basica/enem/gabaritos/2019/gabarito_1_dia_caderno_1_azul_aplicacao_regular.pdf"
              target="_blank"> <button class="btn-grad">Gabarito </button> </a>
            <a href="http://download.inep.gov.br/educacao_basica/enem/provas/2019/caderno_de_questoes_2_dia_caderno_7_azul_aplicacao_regular.pdf"
              target="_blank"><button class="btn-grad">2º dia </button> </a>
            <a href="http://download.inep.gov.br/educacao_basica/enem/gabaritos/2019/gabarito_2_dia_caderno_7_azul_aplicacao_regular.pdf"
              target="_blank"><button class="btn-grad"> Gabarito </button> </a>
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Livros</h2>
          <p> Muitas das perguntas de literatura e história fazem alusões aos livros de sua época, por isso é necessário
            ler algumas das obras mais cobradas pelo Enem. <br>
            Assim, você conseguirá responder com mais contexto muitas das perguntas e assegurar sua nota.<br><br>
            <b id="text">Príncipais obras:</b><br><br>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/d6a111ecc1f1791146f882c97bc12a42/O_principe.pdf"
              target="_blank"><button class="btn-grad"> O Príncipe </button> </a> <br>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/730f9d9c1a195ceb460152d6d97729e5/O_cortico.pdf"
              target="_blank"> <button class="btn-grad"> O Cortiço </button> </a>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/2a5349609b794dbca055b1c3877e4d55/Darcy_Ribeiro_O_Povo_Brasileiro.pdf"
              target="_blank"><button class="btn-grad">O Povo Brasileiro</button> </a>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/69a32328056cd72ffa1fc39d2913e412/Era_dos_Extremos_(1914-1991)_-_Eric_J._Hobsbawm.pdf"
              target="_blank"><button class="btn-grad"> Era dos Extremos </button> </a>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/e2048ab74dab7d162449e8b3337c60aa/A-Hora-da-Estrela-Clarice-Lispector.pdf"
              target="_blank"><button class="btn-grad">A Hora da Estrela </button> </a>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/1caa3c78346a0bd76343dbe80841cf07/Vidas_Secas_-_Graciliano_Ramos.pdf"
              target="_blank"> <button class="btn-grad">Vidas Secas </button> </a> <br>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/2533d5a72b66d3115b259ddaf5545ac9/domCasmurro.pdf"
              target="_blank"><button class="btn-grad">Dom Casmurro </button> </a>
            <a href="https://trello-attachments.s3.amazonaws.com/5e67f35b4c5bd70fd8c6fcc6/5e9ce27d17194c77f6cba2e6/f1320851fbc89b325507e1b80bc02fca/memoriasBras.pdf"
              target="_blank"> <button class="btn-grad"> Memórias Póstumas de Brás Cubas
              </button> </a> <br>
          </p>
        </li>
      </ul>
    </div>

  </div>
  <app-footer></app-footer>
</body>
