<body ID="grad">
  <!-- Row central -->
  <app-navbar></app-navbar>
  <h1> <span id="text" class="border-gradient border-gradient-purple"> Apostilas</span> </h1>
  <div class="row" style="margin-top: 40px;">
    <!-- Row principal -->
    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-cronograma></app-cronograma>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h4> As ferramentas que você usa para o seu estudo render e ser de qualidade é o que <span id="text">garante um
          bom resultado na prova! </span></h4>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 BOX">
      <ul class="elemento">
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Hexag</h2>
          <p> O Hexag é um curso pré-vestiubular especializado no concorrido vestibular de medicina, disponibiliza
            para os estudantes que não tem condição de acesso ao curso, o material didático do ano anterior em PDF.
            <br><br>
            O conteúdo do Hexag é bem sucinto e completo, porém, a carga de estudo pode ser muito extensiva se você
            não montar um bom plano de estudos ou tenha uma boa noção dos tópicos do ENEM.
            <br><br>
            O Hexag possui todos os direitos autoriais, os links de download são direcionados diretamente para o
            Drive do mesmo onde você consegue adquirir os arquivos. <br><br>

          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Hexag: Revisão Enem</h2>
          <p>Disponibilizada pelo Hexag Medicina tem como objetivo verificar se você aprendeu os conteúdos estudados.
            <br><br>
            O material apresenta indicação de temas e competências da matriz de referência do ENEM. Em cada questão,
            há explicação das habilidades aplicadas.<br><br>
            Existe uma seleção de questões inéditas, adaptadas e PPL, ideais para exercitar a sua memória. Os assuntos
            esco-lhidos possuem grande incidência nos últimos anos do Enem.
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Unesp </h2>
          <p> O cursinho pré-vestibular da Unesp, organizado e desenvolvido pela universidade desde 1987. Mantém
            disponível para download em sua página, em pdf, sete cadernos feitos para estudandos em fase de
            preparação para vestibulares. <br><br>
            Os cadernos pré-vestibulares foram organizados por professores da Universidade e têm como norte principal
            os temas da Matriz de Referência do Enem (Exame Nacional do Ensino Médio). </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>MeSalva!</h2>
          <p> O MeSalva! ofereceu mais de 25 apostilas em pdf com todo o conteúdo cobrado pelo Enem. O curso foi um dos
            pioneiros em vídeo aulas no Brasil, e ao longo de 10 anos se especializaram em vestibulares.
            A linguagem é de fácil acesso e os mesmos abrangem o conteúdo de forma estimulante e atenciosamente,
            entendendo seu público-alvo.
            O site apenas pede um breve cadastro para liberar o download, abaixo seguem os links de cada tópico:
          </p>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" style="margin-top: 40px;">
    <!-- Row secundária -->

    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-metodos-estudo></app-metodos-estudo>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h4> <span id="text"> Conteúdo para melhorar os seus estudos!</span> </h4>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 BOX">
      <ul class="elemento">
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Simulados</h2>
          <p> Fazer simulado ao decorrer dos seus estudos é a melhor forma de entender seus pontos fracos e fortes,
            possibilitando que você tenha um estudo mais direcionado e eficiente. É uma forma de você se
            preparar emocionalmente para a prova. Estudos mostram que ao vivenciar várias vezes uma situação e,
            consequentemente, conquistar maior familiaridade com o que vai
            enfrentar, você tem maiores chances de ficar menor ansioso, diminuindo também o nervosismo. Assim, você
            terá
            um melhor desempenho.
            Imprima o simulado abaixo, e pratique como será o dia da prova!
            Cronometre o tempo, a comida de levará e o seu gerenciamento para resolver as questões.
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Provas Anteriores</h2>
          <p> Fazer as provas do Enem ajudam você a se familiarizar com o estilo de prova. As questões do Enem tem um
            formato bem específico, buscando mais do que verificar os conteúdos ministrados na escola, verificar
            suas habilidades e competências. Ao resolver questões históricas do exame você compreende exatamente como
            você será avaliado.
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Livros</h2>
          <p> Fazer as provas do Enem ajudam você a se familiarizar com o estilo de prova. As questões do Enem
            tem um
            formato bem específico, buscando mais do que verificar os conteúdos ministrados na escola, verificar
            suas habilidades e competências. Ao resolver questões históricas do exame você compreende exatamente
            como
            você será avaliado.
          </p>
        </li>
      </ul>
    </div>

  </div>
  <app-footer></app-footer>
</body>
