<!--  Menu lateral -->
<div class="wrapper">
  <!--  Matéria: Matemática 1  -->
  <input id="matematica1" type="checkbox">
  <label for="matematica1">
    <p>Matemática I </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <!--  Matemática 1 - Tópico 1 - Matemática Básica -->
          <a class="nav-link" data-toggle="tab" href="#M1T1">Matemática Básica</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 2 - Equação de 1° Grau e 2° Grau-->
          <a class="nav-link" data-toggle="tab" href="#M1T2">Equação de 1° Grau e 2° Grau</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 3 - Porcentagem e Juros-->
          <a class="nav-link" data-toggle="tab" href="#M1T3">Porcentagem e Juros</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 4 - Matemática - PA-->
          <a class="nav-link" data-toggle="tab" href="#M1T4">Matemática - PA </a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 5 - Matemática - PG-->
          <a class="nav-link" data-toggle="tab" href="#M1T5">Matemática - PG</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 6 - Inequação de 1° e 2° Grau -->
          <a class="nav-link" data-toggle="tab" href="#M1T6">Inequação de 1° e 2° Grau</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 7 - Conjuntos Numéricos-->
          <a class="nav-link" data-toggle="tab" href="#M1T7">Conjuntos Numéricos</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 8 - Análise Combinatória-->
          <a class="nav-link" data-toggle="tab" href="#M1T8">Análise Combinatória</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 9 - Probabilidade e Estatística -->
          <a class="nav-link" data-toggle="tab" href="#M1T9">Probabilidade e Estatística</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 10 - Análise de Gráficos e Tabelas-->
          <a class="nav-link" data-toggle="tab" href="#M1T10">Análise de Gráficos e Tabelas</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 11 - Matrizes e Sistemas Lineares-->
          <a class="nav-link" data-toggle="tab" href="#M1T11">Matrizes e Sistemas Lineares</a>
        </li>
        <li>
          <!--  Matemática 1 - Tópico 12 - Logaritimo-->
          <a class="nav-link" data-toggle="tab" href="#M1T12">Logaritimo</a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Matemática 2  -->
  <input id="matematica2" type="checkbox">
  <label for="matematica2">
    <p>Matemática II</p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Matemática 2 - Tópico 1 - Geometria Plana-->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#M2T1">Geometria Plana</a>
        </li>
        <!--  Matemática 2 - Tópico 2 - Geometria Espacial-->
        <li>
          <a class="nav-link" data-toggle="tab" href="#M2T2">Geometria Espacial</a>
        </li>
        <!--  Matemática 2 - Tópico 3 - Trignometria-->
        <li>
          <a class="nav-link" data-toggle="tab" href="#M2T3">Trignometria</a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: História  -->
  <input id="historia" type="checkbox">
  <label for="historia">
    <p>História</p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  História - Tópico 1 - História Geral -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#HT1">História Geral</a>
        </li>
        <!--  História - Tópico 2 - História do Brasil -->
        <li>
          <a class="nav-link" data-toggle="tab" href="#HT2"> História do Brasil</a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Geografia  -->
  <input id="Geografia" type="checkbox">
  <label for="Geografia">
    <p>Geografia </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Geografia - Tópico 1 - Agricultura e meio ambiente -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT1">Agricultura e meio ambiente</a>
        </li>
        <!--  Geografia - Tópico 2 - População e migrações -->
        <li>
          <a class="nav-link" data-toggle="tab" href="#GT2"> População e migrações </a>
        </li>
        <!--  Geografia - Tópico 3 - Urbanização  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT3">Urbanização </a>
        </li>
        <!--  Geografia - Tópico 4 - Globalização e Indústria   -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT4">Globalização e Indústria </a>
        </li>
        <!--  Geografia - Tópico 5 - Geografia física    -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT5">Geografia física </a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Física  -->
  <input id="Fisica" type="checkbox">
  <label for="Fisica">
    <p>Física </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Física - Tópico 1 - Noções Básicas Vetores -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT1">Noções Básicas Vetores</a>
        </li>
        <!--  Física - Tópico 2 - Cinemática -->
        <li>
          <a class="nav-link" data-toggle="tab" href="#FT2"> Cinemática</a>
        </li>
        <!--  Física - Tópico 3 - Dinâmica  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT3">Dinâmica </a>
        </li>
        <!--  Física - Tópico 4 - Estática -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT4">Estática</a>
        </li>
        <!--  Física - Tópico 5 - Energia -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT5">Energia </a>
        </li>
        <!--  Física - Tópico 6 - Termologia -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT6">Termologia </a>
        </li>
        <!--  Física - Tópico 7 - Hidrostática -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT7">Hidrostática </a>
        </li>
        <!--  Física - Tópico 8 - Eletroestática -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT8">Eletroestática </a>
        </li>
        <!--  Física - Tópico 9 - Eletrodinâmica -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT9">Eletrodinâmica </a>
        </li>
        <!--  Física - Tópico 10 - Eletromagnetismo -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT10">Eletromagnetismo </a>
        </li>
        <!--  Física - Tópico 11 - Ondulatória -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT11">Ondulatória </a>
        </li>
        <!--  Física - Tópico 12 - Óptica -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FT12">Óptica </a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Química  -->
  <input id="quimica" type="checkbox">
  <label for="quimica">
    <p>Química </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Química - Tópico 1 - Química básica -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT1">Química básica</a>
        </li>
        <!--  Química - Tópico 2 - Propriedades da matéria -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT2">Propriedades da matéria</a>
        </li>
        <!--  Química - Tópico 3 - Ligações Quimicas -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT3">Ligações Quimicas</a>
        </li>
        <!--  Química - Tópico 4 - Soluções -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT4">Soluções</a>
        </li>
        <!--  Química - Tópico 5 - Estequiometria e Reações Quimicas -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT5">Estequiometria </a>
        </li>
        <!--  Química - Tópico 6 - Funções Inorgânicas -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT6">Funções Inorgânicas</a>
        </li>
        <!--  Química - Tópico 7 - Termoquímica -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT7">Termoquímica</a>
        </li>
        <!--  Química - Tópico 8 - Cinética e Equilíbrio Químico -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT8">Cinética e Equilíbrio Químico</a>
        </li>
        <!--  Química - Tópico 9 - Eletroquímica e Radiotividade -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT9">Eletroquímica e Radiotividade</a>
        </li>
        <!--  Química - Tópico 10 - Físicoquímica -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT10">Físicoquímica</a>
        </li>
        <!--  Química - Tópico 11 - Química Orgânica -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT11">Química Orgânica</a>
        </li>
        <!--  Química - Tópico 12 - Química Orgânica -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT12">Química Orgânica</a>
        </li>
        <!--  Química - Tópico 13 - Isomeria -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT13">Isomeria</a>
        </li>
        <!--  Química - Tópico 14 - Reações Orgânicas -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#QT14">Reações Orgânicas</a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Biologia  -->
  <input id="Biologia" type="checkbox">
  <label for="Biologia">
    <p>Biologia </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Biologia - Tópico 1 - Ecologia  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT1">Ecologia </a>
        </li>
        <!--  Biologia - Tópico 2 - Origem da Vida e Evolução  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT2">Origem da Vida e Evolução </a>
        </li>
        <!--  Biologia - Tópico 3 - Bioquímica   -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT3">Bioquímica </a>
        </li>
        <!--  Biologia - Tópico 4 - Citologia    -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT4">Citologia </a>
        </li>
        <!--  Biologia - Tópico 5 - Histologia     -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT5">Histologia </a>
        </li>
        <!--  Biologia - Tópico 6- Genética     -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT6">Genética </a>
        </li>
        <!--  Biologia - Tópico 7 - Taxonomia      -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT7">Taxonomia </a>
        </li>
        <!--  Biologia - Tópico 8 - Reino Animal       -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT8">Reino Animal </a>
        </li>
        <!--  Biologia - Tópico 8 - Fisiologia Humana    -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#BT9">Fisiologia Humana </a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Literatura  -->
  <input id="Literatura" type="checkbox">
  <label for="Literatura">
    <p>Literatura </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Literatura - Tópico 1 - Interpretação  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#LT1">Interpretação </a>
        </li>
        <!--  Literatura - Tópico 2 - Interpretação  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#LT2">Escolas Literárias </a>
        </li>
        <!--  Literatura - Tópico 3 - Vanguardas Europeias  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#LT3">Vanguardas Europeias </a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Gramática  -->
  <input id="Gramática" type="checkbox">
  <label for="Gramática">
    <p>Gramática </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Gramática - Tópico 1 - Interpretação  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT1">Ortografia </a>
        </li>
        <!--  Gramática - Tópico 2 - Morfologia  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT2">Morfologia </a>
        </li>
        <!--  Gramática - Tópico 3 - Sintaxe  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT3">Sintaxe </a>
        </li>
        <!--  Gramática - Tópico 4 - Classes gramaticais-->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#GT4">Classes gramaticais </a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Filosofia  -->
  <input id="Filosofia" type="checkbox">
  <label for="Filosofia">
    <p>Filosofia </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Filosofia - Tópico 1 - Filosofia  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#FLT1">Filosofia </a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
  <!--  Matéria: Sociologia  -->
  <input id="Sociologia" type="checkbox">
  <label for="Sociologia">
    <p>Sociologia </p>
    <div class="lil_arrow"></div>
    <div class="content">
      <ul class="nav nav-tabs">
        <!--  Sociologia - Tópico 1 - Sociologia  -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#SCT1">Sociologia </a>
        </li>
      </ul>
    </div>
    <span></span>
  </label>
</div>
