<!--  Menu lateral -->
<div class="wrapper">
  <!--  Matéria: Matemática 1  -->
  <div *ngFor="let disciplina of disciplinas; index as i">
    <input id="{{disciplina.nome}}{{i}}" type="checkbox">
    <label for="{{disciplina.nome}}{{i}}">
      <p>{{disciplina.nome}}</p>
      <div class="lil_arrow"></div>
      <div class="content">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngFor="let topico of disciplina.topicos">
            <!--  Matemática 1 - Tópico 1 - Matemática Básica -->
            <a class="nav-link" [attr.data-sectionvalue]="topico.id" (click)="alterarTopico($event)">{{topico.nome}}</a>
          </li>
        </ul>
      </div>
      <span></span>
    </label>
  </div>
</div>
