<form>
  <div class="form-group">
    <!-- Voltar para a  -->
    <a routerLink="/login"> <button type="button" class="btn btn-outline-primary btn-back" data-mdb-ripple-color="dark">
        &#8249; </button> </a>
    <!-- Título -->
    <h2> Recupere sua <span id="text">senha</span></h2>
    <!-- Esqueceu a senha link-->
    <small class="form-text text-muted d-flex justify-content-center">Nos informe seu e-mail e vamos te encaminhar um
      link para recuperar sua senha.</small>

    <!-- Campo do email-->
    <input type="email" class="form-control" required minlength="4" id="InputEmail" placeholder="Seu e-mail cadastrado"
      name="username">
  </div>


  <!-- Botão login-->
  <div class="d-flex justify-content-center"><button type="submitSenha" class="btn btn-primary btn-grad">Recuperar
      senha</button>
  </div>

</form>
