<body ID="grad">
  <!-- Row central -->
  <app-navbar></app-navbar>
  <h1> <span id="text" class="border-gradient border-gradient-purple">Sobre o Sisu</span> </h1>
  <div class="row">
    <!-- Nav lateral -->
    <!-- Questão do topico escolhido-->
    <div class="col-sm-12 col-md-12 col-lg-12 BOX">
      <ul class="elemento">
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>O que é ?</h2>
          <p>
            <b>O Sistema de Seleção Unificada (Sisu)</b> é um sistema informatizado, gerenciado pelo Ministério da
            Educação
            (MEC) e teve sua primeira edição em 2010.
            Nele, as instituições públicas de ensino superior oferecem vagas para quem participou do Exame Nacional de
            Ensino Médio, o Enem.

          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Como o sisu funciona?</h2>
          <p> O SISU faz <b> dois processos seletivos por ano:</b> um no início do primeiro semestre, outro
            no início do segundo semestre.
            Há só uma etapa de inscrição em cada processo seletivo. <p> Nela, você <b>pode escolher
                dois cursos</b>, na ordem de preferência, entre as vagas ofertadas.
              Você também <b> precisa definir se quer se inscrever para as vagas de ampla concorrência, às
                reservadas pela Lei de Cotas ou às destinadas a outras políticas afirmativas das instituições. </b>
              <b> <br><br>E dá para mudar de ideia?<br><br> </b> <b> Dá sim! </b> <br><br>Você pode mudar suas
              opções até as inscrições se encerrarem.
              Depois, o sistema seleciona automaticamente aqueles candidatos que ficaram melhor classificados em cada
              curso, levando em consideração as suas notas do ENEM
              <b>(e os pesos que cada matéria tem no curso que você escolheu no Sisu). </b> <br>
              <br> É realizada só uma chamada para matrícula. <b>Lembre-se de que você tem um prazo para
                fazer a inscrição e garantir a sua vaga.</b>
            </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Quem pode se escrever?</h2>
          <p> Se você fez a última edição do ENEM e <b> não zerou a redação. <br><br></b> Além disso, tem que
            ter completado o ensino médio ou seja: <b> não pode ser treineiro! </b><br><br>
            <b> OBS: </b> Caso você tenha menos de 18 anos e tenha completado o Ensino médio e
            consiga a vaga pelo SISU, a matrícula deve ser feita acompanhado de um responsável.<br><br>
            Vale lembrar que alguns cursos<b> exigem uma nota mínima para se inscrever. </b>
            <b> Eu já estou na faculdade, posso me inscrever no SISU?</b> <i> A resposta é sim! </i>
            Mas, se você já estuda em uma instituição pública e passar na seleção, vai ter que escolher qual curso
            quer fazer.
            <br><br>
            O SISU <b> depende totalmente do ENEM:</b> só pode se candidatar a vagas quem fez a
            última edição do exame. Quando você se inscreve no SISU, o sistema importa automaticamente as suas
            informações e as notas do ENEM.
            <br><br>
            <b> Mas atenção, eles são coisas bem diferentes, ok? </b> <b> O Enem é uma prova</b>, e o
            <i>SISU, um sistema de seleção:</i> você só precisa se inscrever para concorrer a uma vaga.
            <br><br>
            Os candidatos que forem se inscrever no Sisu em 2021 precisarão, por exemplo, terem feito a edição de
            2020 do ENEM.
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Modalidades de Inscrição</h2>
          <p> São três as modalidades de inscrição no SISU: <b> ampla concorrência,</b> <b>cotas </b> e <b> ações
              afirmativas das próprias instituições.</b> <br><br>
            Para participar da ampla concorrência, tudo que você precisa é ter feito a edição do ENEM no ano anterior.
            Já a Lei de Cotas (12.711/2012) determina que as instituições devem <b> reservar 50% das vagas
              para alunos que estudaram em escolas públicas.</b> Entre elas, metade é destinada a estudantes com renda
            familiar bruta mensal de
            até um salário mínimo e meio por pessoa. Além disso, um percentual das vagas é reservado a estudantes
            autodeclarados pretos, pardos ou indígenas.<br><br>
            <b>Diferentemente, </b> as ações afirmativas dependem de cada instituição e não são
            obrigatórias, e podem acontecer pela reserva de vagas ou por um bônus na nota final do candidato.
            <b> <i>Atenção:</i> a concorrência é só com quem está inscrito na mesma modalidade que
              você!</b><br><br>

            <b> OBSERVAÇÕES: </b><br><br>

            Para poder participar das listas de espera, como no Sisu tem duas escolhas existem algumas regras, que são
            as seguintes:<br><br>
            <b>1° caso </b> passe na sua primeira opção, você não participa de nenhuma lista de espera.<br><br>

            <b>2° caso </b> passe na sua segunda opção e não passe na primeira, você não consegue entrar
            na lista de espera da sua primeira opção.<br><br>
            <b>3° caso </b> não passe em nenhuma das suas duas opções, você pode escolher em qual lista
            de espera você quer participar.<br><br>

          </p>
        </li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</body>
