<form ngNativeValidate #requisicaoForm="ngForm" (ngSubmit)="updateData(requisicaoForm)">
  <div class="form-group">
    <!-- Título-->
    <span>
      <!-- Título -->
      <h2> Seus<span id="text">&nbsp;dados</span></h2>
    </span>
    <!-- Email -->
    <fieldset disabled>
      <input type="email" class="form-control" id="InputEmail" placeholder="E-mail" name="email">
    </fieldset>
    <!-- Nome -->
    <input type="text" class="form-control" id="InputEmail" minlength="4" placeholder="Nome" name="nome" ngModel>
    <!-- Campos de senha -->
    <input type="password" class="form-control" id="InputPassword" minlength="8" placeholder="Senha" name="senha" ngModel>
    <input type="password" class="form-control" id="InputPasswordConfirmation" minlength="8" placeholder="Confirme sua senha"
      name="ConfirmarSenha" ngModel>

    <!-- btn Salvar -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-grad">Salvar</button>
    </div>
  </div>
</form>
