/** ROW principal centralizada */
.row {
  margin-right: 3%;
  margin-left: 3%;
  border-radius: 5px;
  background-color: #fcfcfc;
  box-shadow: -10px 10px 40px -5px #574fb6;
}
.div-left{

}
.div-right{
margin:0px;    
}
/** Pegando  a imagem de fundo */
#grad {
  background-size: cover;
  background-image: url('src\assets\img\img2.jpg');
}

/** Colocando a font e posicionando */
body {
  font-family: 'NexaLight';
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: absolute;
}

/**TEXTOS */
h1 {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  color: #330867;
  font-family: 'MontserratBold';
  font-size: 50px;
}

/** texto em gradiente*/
#text {
  background: linear-gradient(to right, #330867 30%, #30CFD0 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'MontserratBold';
  font-size: 50px;
}
/** Borda em gradiente*/
.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 3px;
  padding: 5px;
}

.border-gradient-blue {
  border-image-source: linear-gradient(to right, #30CFD0 20%, #330867 90%);
}
