/** ROW principal centralizada */
.row {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}

/** Pegando  a imagem de fundo */
#grad {
  background-size: cover;
  background-image: url('src\assets\img\img.jpg');
}

/** Colocando a font e posicionando */
body {
  font-family: 'NexaLight';
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: absolute;
}

.responsive {
  max-width: 85%;
  height: auto;
  text-align: left;
  padding-top: 8%;
}

h4 {
  font-family: 'Nexabold';
  font-size: 180%;
  color: #db40a5;
  padding-left: 6%;
  padding-top: 3%;
  text-align: left;
}

h5 {
  font-family: 'Nexabold';
  font-size: 130%;
  color: #330867;
  padding-left: 6%;
  text-align: left;
}
