<body ID="grad">
  <!-- Rown principal centralizada  -->
  <div class="row">
    <!-- LOGO E TEXTO SOBRE O SITE -->
    <div class="col-sm-12 col-md-12 col-lg-7">
      <img src="/assets/img/conteudo/MotivaStudyLogo.png" class="responsive">
      <br>
      <h4> Faça parte do nosso ecossistema<br> e evolua com a gente!</h4>
      <h5>Tenha acesso ao melhor conteúdo gratuito<br> preparativo para o ENEM </h5>
      <h4> Nós acreditamos que todos são<br> capazes de
        chegar lá!</h4>
    </div>
    <!-- Form de acesso -->
    <div class="col-sm-12 col-md-12 col-lg-5">
      <app-form></app-form>
    </div>
  </div>
</body>
