<body>
  <h2>Cronograma de estudos </h2>
  <b id="text">Mas pera aí, você sabe estudar?</b> <br>
  <p>Nós disponibilizamos <a href="https://drive.google.com/file/d/1WLsZ6ts6KMNlSzQTYzvUDMjdCdXjVo8N/view">aqui </a>
    <b>um cronograma com todas as matérias que são cobradas na prova</b>, mas quando, quanto tempo e onde é
    você que tem que organizar! </p>
  <b>Deve organizar sua rotina, para inserir um tempo para os estudos.</b> <br>
  Escolha os seus horários, perceba quando rende mais: de manhã, tarde ou à noite. <br>
  E comece <b>gradativamente</b> a estudar.
</body>
