<body>
  <app-titulo-home></app-titulo-home>

  <h4>Assistir aula é uma coisa, estudar é outra</h4>
  <h5>Estudar assistindo aula não é que nem assistir uma série do Netflix,<b> não adote um estudo passivo.</b> <br>
    <b>Faça anotações, revise o conteúdo e alterne a teoria com resolução de questões.</b><br>
    É importante que você faça seus próprios resumos, <b>mas cuidado!</b> Isso não quer dizer para você escrever tudo
    que o
    professor fala! <b> <br>Fazer resumos é anotar palavras-chave e pontos-chaves – quando você for estudar o assunto
      novamente, o resumo fará com que o conteúdo para estudar/revisar seja de fácil acesso,</b> de fácil visualização.
    <br>
    Recomendamos fazê-los em tópicos, com frases curtas.
    depois de um tempo e não logo depois de tê-la visto pela primeira vez <b>ajuda na fixação do conteúdo.</b></h5>
</body>
