<body>
  <div class="container">
    <div class="tab-content">
      <!-- Home que some quando seleciona o tópico -->
      <div id="home" class="tab-pane fade in active show">
        <app-home-aulas> </app-home-aulas>
      </div>
      <!-- Template Aulas -->
      <div id="VM1T1" class="tab-pane fade">
        <iframe width="1100" height="655" src="https://www.youtube.com/embed/83NIy_o8wF0?start=6"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
