<body>
  <div class="container">
    <div class="tab-content">
      <!-- Home que some quando seleciona o tópico -->
      <div id="home" class="tab-pane fade in active show">
        <app-home-aulas> </app-home-aulas>
      </div>
      <!-- Template Aulas -->
      <div id="VM1T1" class="tab-pane fade">
          <!-- titulo video -->
          <h3>{{videos[contador].snippet.title}}</h3>
          
          <!-- iFrame das playlist -->
          <iframe width="1100" height="655" [src]="getVideoUrl(videos[contador].contentDetails.videoId)|safe"
            title="{{videos[contador].snippet.title}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          <!-- Botões para percorrer os videos da playlist -->
          <div class="d-flex justify-content-around">
            <button (click)="videoAnterior()" class="btn btn-primary btn-grad">Aula Anterior</button>
            <button (click)="proximoVideo()" class="btn btn-primary btn-grad">Próxima Aula</button>
          </div>
          <!-- Descrição do video em questão -->
          <div class="container">
            <a href="#demo" class="btn btn-primary btn-grad" data-toggle="collapse">Descrição</a>
            <div id="demo" class="collapse">
              {{videos[contador].snippet.description}}
            </div>
          </div>
      </div>
    </div>
    
