<body ID="grad">
  <!-- Row central -->
  <app-navbar></app-navbar>
  <h1> <span id="text" class="border-gradient border-gradient-purple">Questões</span> </h1>
  <div class="row">
    <!-- Nav lateral -->
    <div class="col-sm-4 col-md-4 col-lg-2">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Questão do topico escolhido-->
    <div class="col-sm-12 col-md-8 col-lg-8" style="background-color: rgb(69, 136, 136);">
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            lalala
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
