<body ID="grad">
  <!-- Row central -->
  <h1> <span id="text" class="border-gradient border-gradient-purple">Cronograma</span> </h1>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <form>
        <div class="d-flex justify-content-center"><button type="submitProgresso"
            class="btn btn-primary btn-grad">Salvar
            Progresso</button>
        </div>
        <H3>Primeira Sprint</H3>
        <!-- LINHA DO TITULO DAS COLUNAS -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 titulo">
            Matéria
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 titulo">
            Tópico
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 titulo">
            Aula
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 titulo">
            Teoria e Resumo
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 titulo">
            Exercícios
          </div>
        </div>
        <!-- Matemática Básica -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 cronograma">
            <span id="text">MATEMÁTICA I </span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma topico">
            Matemática Básica
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
        </div>
        <!-- Noções Básicas Vetores -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 cronograma">
            <span id="text">FÍSICA </span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma topico">
            Noções Básicas Vetores
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
        </div>
        <!-- Origem da Vida e Evolução -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 cronograma">
            <span id="text">BIOLOGIA </span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma topico">
            Origem da Vida e Evolução
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
        </div>
        <!-- Interpretação -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 cronograma">
            <span id="text">LITERATURA </span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma topico">
            Interpretação
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
        </div>
        <!--  Química básica -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 cronograma">
            <span id="text">QUÍMICA </span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma topico">
            Química básica
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
        </div>
        <!-- Ortografia-->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 cronograma">
            <span id="text">GRAMÁTICA </span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma topico">
            Ortografia
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
        </div>
        <!-- Agricultura e meio ambiente-->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-3 cronograma">
            <span id="text">GEOGRAFIA </span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma topico">
            Agricultura e meio ambiente
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-2 cronograma">
            <div class="d-flex justify-content-center">
              <span class="checkbox-el">
                <input class="input-checkbox" id="cronograma" type="checkbox" value="1">
                <div class="checkbox-circle"></div>
              </span>
              <label class="form-check-label " for="cronograma"> Feito</label>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</body>
