<body ID="grad">
  <!-- Row central -->
  <app-navbar></app-navbar>
  <h1> <span id="text" class="border-gradient border-gradient-purple">Sobre o ENEM</span> </h1>
  <div class="row">
    <!-- Nav lateral -->
    <!-- Questão do topico escolhido-->
    <div class="col-sm-12 col-md-12 col-lg-12 BOX">
      <ul class="elemento">
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Cálculo da Nota</h2>
          <p>
            A nota final do ENEM, calculada por computador, considera principalmente a <b>consistência das
              respostas</b>. Dois alunos
            com cinco questões certas em Matemática, por exemplo, podem ter notas diferentes. O que acertar
            as cinco mais fáceis terá uma nota maior, pois seu desempenho é coerente.
            <p> O outro, que <b> errou questões fáceis e acertou outras difíceis, terá a sua nota
                reduzida </b>
              pelo cálculo da
              causalidade, ou seja, como sua proficiência foi pequena (cinco questões em 45), a TRI entenderá o
              acerto nas questões difíceis como "chute" e reduzirá o valor do item certo.

            </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>O que é a TRI?</h2>
          <p> A Teoria de Resposta ao Item, a famosa TRI, é o algoritmo usado pelo Enem para corrigir e dar nota
            às questões da prova. <b> A Teoria é um modo de legitimar a prova e os conhecimentos dos alunos
              que a fazem e é uma forma de impedir o chute.</b>
            <img src="/assets/img/conteudo/tri.png" class="img-fluid" alt="Responsive image">
          </p>
        </li>
        <li>
          <input type="checkbox" checked>
          <i></i>
          <h2>Níveis de questões</h2>
          <p> Para a TRI funcionar, as <b>180 questões do Enem têm níveis: FÁCIL, MÉDIO e DIFÍCIL.</b> O algoritmo
            consegue
            identificar, pelo padrão de erros e acertos do candidato, se ele acertou
            porque de fato sabia, ele acaba recebendo o ponto inteiro da questão.
            <b>Se chutou, acabou não recebendo a pontuação cheia.</b> Desse jeito, a nota final não depende só do
            número de acertos, e sim do nível de dificuldade das questões que você acertou e das que errou.<br>
            <img src="/assets/img/conteudo/nota.png" class="img-fluid" alt="Responsive image">
          </p>
        </li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</body>
