<body id="grad">
  <div class="containt-fluid">
    <app-navbar></app-navbar>
    <div class=" containt d-flex justify-content-center">
      <!-- TÍTULO  -->
      <h1> Cadastro de <span id="text" class="border-gradient border-gradient-purple">Questões</span></h1>
    </div>
    <!-- CADASTRO  -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <!-- COMPONENTE  -->
        <app-form-q></app-form-q>
      </div>
    </div>
    <app-footer> </app-footer>
  </div>

</body>
