<form #requisicaoForm="ngForm" (ngSubmit)="requisicaoProfessor(requisicaoForm)">
  <div class="form-group">
    <!-- Título-->
    <span>
      <!-- Título -->
      <h2> Quer ser um<span id="text">&nbsp;contribuinte?</span></h2>
    </span>
    <!-- Professor -->
    <!-- Check -->
    <span class="checkbox-el">
      <input class="input-checkbox" id="SouProfessor" type="checkbox" name="CheckProfessor" value="1" ngModel>
      <div class="checkbox-circle"></div>
    </span>
    <label class="form-check-label " for="CheckProfessor"> Sou um professor</label>

    <!-- CFEP -->
    <input type="text" class="form-control" id="InputCefep" placeholder="CFEP" name="cfep" ngModel>
    <!-- Outro-->
    <!-- Check -->
    <span class="checkbox-el">
      <input class="input-checkbox" id="SouContribuinte" type="checkbox" name="checkOutro" value="1" ngModel>
      <div class="checkbox-circle"></div>
    </span>
    <label class="form-check-label " for="checkOutro"> Outro</label>

    <!-- Outro Motivo -->
    <input type="text" class="form-control" id="InputMotivo" placeholder="Digite o motivo de querer ser contribuinte"
      name="descricaoContribuinte" ngModel>

    <!-- btn Enviar -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-grad"> Enviar solicitação</button>
    </div>
  </div>
</form>
