
/** design do formulario */
form {
  background-color: #fcfcfc;
  padding: 8%;
  border-radius: 5px;
  position:initial;
  top:0;
  left:0;
  right: 0;
  
}

/** posição dos campos */
.form-control {
  margin: 10px;
  border-radius: 50px;
  border-color: #f7f2f2;
}

/** botão do gradiente */
.btn-grad {
  border-radius: 50px;
  font-size: 15px;
  border: 0%;
  border-style: none;
  background-image: linear-gradient(to right, #330867 1%, #30CFD0 50%);
  margin-top: 20px;
  padding: 10px 75px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/** style do titulo*/
h2 {
  text-align: center;
  padding-bottom: 6%;
  color: #330867;
  font-family: 'MontserratBold';
  font-size: 35px;
}

/** texto em gradiente*/
#text {
  background: linear-gradient(to right, #330867 0%, #30CFD0 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'MontserratBold';
  font-size: 35px;
}


/** pro check ficar redondo */
.checkbox-el {
  position: relative;
  margin-left: 4px;
  width: 18px;
  float: left;
  margin: 2px 10px 2px 1px;
  height: 18px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #330867;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.checkbox-el input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-circle {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(0.5);
  transition: all 0.15s ease-in;
}

.checkbox-el input:checked+.checkbox-circle {
  background-color: #330867;
  transform: scale(2)
}