.container {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden;
  font-family: 'MontserratBold';
}

.container {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 145.5%;
}

.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #30CFD0;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(1, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2.5s;
  display: flex;
}

.container .box .title h1 {
  font-family: 'MontserratBold';
  color: #330867;
  font-size: 30px;
  -webkit-animation: mainFadeIn 0.5s forwards;
  -o-animation: mainFadeIn 0.5s forwards;
  animation: mainFadeIn 0.5s forwards;
  animation-delay: 3s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.container .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #30CFD0;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.container .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50%;
  margin-top: -25px;
}

.container .box .role .block {
  width: 0%;
  height: inherit;
  background: #330867;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 3.2s;
  display: flex;
}

.container .box .role p {
  animation: secFadeIn 1s forwards;
  animation-delay: 3s;
  opacity: 0;
  font-family: "MontserratBold";
  background: linear-gradient(to right, #330867 30%, #30CFD0 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  padding-top: 30px;

}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #30CFD0;
    border: 0px solid #ddd;
    opacity: 0;
  }

  50% {
    width: 10px;
    height: 10px;
    background: #30CFD0;
    opacity: 1;
    bottom: 45px;
  }

  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }

  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }

  100% {
    width: 7px;
    height: 7px;
    background: #30CFD0;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}


@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}
